<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>821084086658-5j41a8e422d4kj8sur9g8ktecf3e406v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.821084086658-5j41a8e422d4kj8sur9g8ktecf3e406v</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>821084086658-vvbf58l5cvsgllg7fargqbu4piecrsa7.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDCOJ7qvKEZYGUlixRf7NGSBzT3Q1BU9sA</string>
	<key>GCM_SENDER_ID</key>
	<string>821084086658</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tugasAkhir</string>
	<key>PROJECT_ID</key>
	<string>tugas-akhir-d6749</string>
	<key>STORAGE_BUCKET</key>
	<string>tugas-akhir-d6749.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:821084086658:ios:9cec01d613e0c10e</string>
	<key>DATABASE_URL</key>
	<string>https://tugas-akhir-d6749.firebaseio.com</string>
</dict>
</plist>